/* You can add global styles to this file, and also import other style files */


.text-mute {
    user-select: none;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.z-999 {
    z-index: 999;
}
